<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tthome.qrcode.dao.CheckDataDao">

    <resultMap id="BaseResultMap" type="com.tthome.qrcode.entity.CheckData">
        <result column="id" property="id"/>
        <result column="key" property="key"/>
        <result column="isCheck" property="isCheck"/>
        <result column="isCheckTime" property="isCheckTime"/>

    </resultMap>

   <insert id="insert">
       INSERT INTO check_data VALUES(0,#{key},now(),0,null)
   </insert>

    <select id="selectIdMax" resultMap="BaseResultMap">
        SELECT
	*
FROM
	check_data
ORDER BY
	id DESC
LIMIT 1
    </select>

    <select id="selectByKey" resultMap="BaseResultMap">
      SELECT * FROM check_data t1
     WHERE t1.`key`=#{key}
    </select>

    <update id="updateCheck">
        update check_data set isCheck=1, isCheckTime=now()
        where id=#{id}
    </update>

</mapper>